<div >
	<div>
		<button ng-click="validerBO(demande)" class="btn btn-info" >
			<i class="glyphicon glyphicon-hand-right"></i>
			Valider demande
		</button> 

		<button ng-click="rejeterBO(demande)" class="btn btn-info" >
			<i class="glyphicon glyphicon-thumbs-down"></i>
			Rejeter demande
		</button>
	</div>
	<br> <br>
	<div>
		<textarea class="form-control" placeholder = "Contenu du mail ..." ng-model="mail.contenu" style="width: 30%">
			<i class="glyphicon glyphicon-pencil"></i>
		</textarea>
		<br>
		<button ng-click="sendMail()" class="btn btn-primary" >
			<i class="glyphicon glyphicon-send"></i>
			Envoyer mail
		</button>
	</div>
	<div class="row">
		
		<div class="col-lg-6">
			<h1>Accord</h1>
			<br>
			<object data="{{cheminPDF}}" type="application/pdf" width="100%" height="800px"> 
		  		<a href="{{cheminPDF}}"></a>
		 	</object>
		</div>
		
		<div class="col-lg-6">
			<h1></h1>
			<br><br><br><br>
			<table class="table table-hover" ng-if="testNotKitNotPlacement()">
				<tr>
					<td>Opération</td>
					<td>Tarif standard</td>
					<td>Tarif accordé</td>
					<td>Echéance accordée</td>
				</tr> 
				<tr ng-repeat="produit in produits">  
					<td style="width: 50%;">{{produit.operation}}</td>

					<td>{{produit.tarifStandard}}</td>

					<td>{{produit.tarifAccorde}}</td>

					<td>{{produit.echeanceAccordee}}</td>
				</tr>
			</table>
	
			<table class="table table-hover" ng-if="testKitEtPlacement()">
				<tr>
					<td>Opération</td>
					<td>Tarif standard</td>
					<td>Tarif accordé</td>
					<td>Echéance accordée</td>
					<td>Montant placement</td>
					<td>Nb jours placement</td>
					<td>Pourcentage kit</td>
				</tr> 
				<tr ng-repeat="produit in produits">  
					<td style="width: 35%;">{{produit.operation}}</td>

					<td>{{produit.tarifStandard}}</td>

					<td>{{produit.tarifAccorde}}</td>

					<td>{{produit.echeanceAccordee}}</td>

					<td>{{produit.montantPlacement}}</td>

					<td>{{produit.nbrJoursPlacement}}</td>

					<td>{{produit.pourcentageKit}}</td>
				</tr>
			</table>
			
			<table class="table table-hover" ng-if="testIfPlacement()" >
				<tr>
					<td>Opération</td>
					<td>Tarif standard</td>
					<td>Tarif accordé</td>
					<td>Echéance accordée</td>
					<td>Montant placement</td>
					<td>Nb jours placement</td>
				</tr>  
				
				<tr ng-repeat="produit in produits" >  
					<td style="width: 35%;">{{produit.operation}}</td>

					<td>{{produit.tarifStandard}}</td>

					<td>{{produit.tarifAccorde}}</td>

					<td>{{produit.echeanceAccordee}}</td>

					<td>{{produit.montantPlacement}}</td>

					<td>{{produit.nbrJoursPlacement}}</td>
				</tr>
			</table>

			<table class="table table-hover" ng-if="testIfKit()">
				<tr>
					<td>Opération</td>
					<td>Tarif standard</td>
					<td>Tarif accordé</td>
					<td>Echéance accordée</td>
					<td>Pourcentage kit</td>
				</tr>  
				
				<tr ng-repeat="produit in produits"> 
					<td style="width: 35%;">{{produit.operation}}</td>

					<td>{{produit.tarifStandard}}</td>

					<td>{{produit.tarifAccorde}}</td>

					<td>{{produit.echeanceAccordee}}</td>

					<td>{{produit.pourcentageKit}}</td>
				</tr>
			</table>
 


		<!-- 	
			<script type="text/javascript">
				function imprimer_page(){
				  window.print();
				}
			</script>    
			<form>
			  <input id="impression" name="impression" type="button" onclick="window.print();" value="Imprimer cette page" />
			</form> -->
		</div>

	</div>
</div>